<div class="landing">
  <div nz-row class="header">
    <div nz-col nzSpan="12">
      <h3 nz-typography>
        <a routerLink="/">
          НАЙМИКС ТАРО
        </a>
      </h3>
    </div>
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="8" nzOffset="12">
          <button nz-button nzType="default">xlmsflmsld</button>
        </div>
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary">Войти</button>
        </div>
      </div>
    </div>
  </div> 

  <div>LANDING CONTENT</div>
</div>
