@if ({ url: routeUrl$ | async }; as route) {
  <div nz-flex nzAlign="center" nzJustify="space-between" class="header">
    <h3 nz-typography class="header__logo">
      <a routerLink="/"> НАЙМИКС ТАРО </a>
    </h3>
    <nav>
      <ul class="header__nav_menu">
        <li><a routerLink="/home" [class]="route.url === '/home' ? 'header__nav_active' : ''"><span tarotIcon="dice"></span> Карта дня</a></li>
        <li><a routerLink="/colleagues" [class]="route.url === '/colleagues' ? 'header__nav_active' : ''"><span tarotIcon="briefcase"> </span> Коллеги</a></li>
        <li><a routerLink="/candidates" [class]="route.url === '/candidates' ? 'header__nav_active' : ''"><span tarotIcon="balancescale"> </span> Кандидаты</a></li>
        <li class="header__nav_avatar"><a routerLink="/profile"><span tarotIcon="avatar"> </span></a> </li>
      </ul>
    </nav>
  </div>
}
