<div class="profile">
  <div nz-row>
    <div nz-col nzSpan="14" nzOffset="5" class="profile__title">Профиль</div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="6" nzOffset="2" class="profile__wrap">
      
      <img class="profile__avatar" src="assets/avatar.png" />

      <div class="profile__name">Гэндальф Серый</div>
      <div class="profile__info">Дата рождения: 03.01.1893</div>
      <div class="profile__info">Компания: ООО “Рога и копыта”</div>
      <div class="profile__info">Отдел доставки</div>

    </div>
    <div nz-col nzSpan="6" nzOffset="1">
      
      <img class="card" src="assets/card.png" />

    </div>
    <div nz-col nzSpan="6" nzOffset="1">
      <div class="card__title">
        Фортуна 
        <span tarotIcon="resend"></span>
        <span tarotIcon="download"></span>
      </div>
      <div class="card__desc">
        Фортуна – символ перемен. Что&#8288;то неожиданное уже на подходе!
      </div>
      <button nz-button nzBlock class="card__button">Подробнее</button>

    </div> 
    
  </div>
</div>
