<div class="colleagues">
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="2">
        <img class="card__avatar" src="assets/avatar.png" />
      </div>
      <div nz-col nzSpan="18" nzOffset="2">
        <div class="card__name">Бильбо Бэггинс</div>
        <div class="card__info">ООО “Таро”</div>
        <div class="card__info">Доставка</div>
      </div>
    </div>
  </nz-card>
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="2">
        <img class="card__avatar" src="assets/avatar.png" />
      </div>
      <div nz-col nzSpan="18" nzOffset="2">
        <div class="card__name">Бильбо Бэггинс</div>
        <div class="card__info">ООО “Таро”</div>
        <div class="card__info">Доставка</div>
      </div>
    </div>
  </nz-card>
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="2">
        <img class="card__avatar" src="assets/avatar.png" />
      </div>
      <div nz-col nzSpan="18" nzOffset="2">
        <div class="card__name">Бильбо Бэггинс</div>
        <div class="card__info">ООО “Таро”</div>
        <div class="card__info">Доставка</div>
      </div>
    </div>
  </nz-card>
</div>
