<div class="home">
  <div nz-row>
    <div nz-col nzSpan="14" nzOffset="5" class="home__title">Карта дня</div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="7" nzOffset="4">
      
      <img class="card" src="assets/card.png" />

    </div>
    <div nz-col nzSpan="7" nzOffset="2">
      <div class="card__title">
        Фортуна 
        <span tarotIcon="resend"></span>
        <span tarotIcon="download"></span>
      </div>
      <div class="card__desc">
        Фортуна – символ перемен. Что&#8288;то неожиданное уже на подходе!
      </div>
      <button nz-button nzBlock class="card__button">Подробнее</button>

    </div> 
    
  </div>
</div>
